In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales_data.csv')
df

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_horror,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,wordcount
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.224141,0.08737,0.002701,50831.0
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.221966,0.13182,0.003394,70142.0
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.388199,0.18372,0.001003,13193.0
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.301656,0.15722,0.002895,27980.0
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.204838,0.10778,0.003655,65421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18721,PG9986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.180942,0.14979,0.006868,85950.0
18722,PG9988,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.236141,0.13800,0.002923,47645.0
18723,PG9990,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.212310,0.14208,0.004579,54820.0
18724,PG9991,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0.295010,0.11653,0.002811,26606.0
18725,PG9993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.179779,0.13360,0.005026,84156.0

In [3]:
##fetch the first 5 row
df.head()

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_horror,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,wordcount
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.224141,0.08737,0.002701,50831.0
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.221966,0.13182,0.003394,70142.0
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.388199,0.18372,0.001003,13193.0
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.301656,0.15722,0.002895,27980.0
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.204838,0.10778,0.003655,65421.0

In [4]:
df.tail(5)

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_horror,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,wordcount
18721,PG9986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.180942,0.14979,0.006868,85950.0
18722,PG9988,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.236141,0.13800,0.002923,47645.0
18723,PG9990,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.212310,0.14208,0.004579,54820.0
18724,PG9991,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0.295010,0.11653,0.002811,26606.0
18725,PG9993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.179779,0.13360,0.005026,84156.0

In [5]:
df.describe()

,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,subj2_action,...,subj2_horror,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,wordcount
count,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,...,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,18726.000000,16038.000000,16038.000000,16038.000000,1.603800e+04
mean,0.061038,0.061572,0.000107,0.006088,0.037862,0.001442,0.024244,0.013884,0.088326,0.000160,...,0.005821,0.047207,0.002670,0.116896,0.034818,0.559062,0.233513,0.135563,0.004410,7.117315e+04
std,0.239407,0.240383,0.010334,0.077789,0.190867,0.037945,0.153811,0.117014,0.283777,0.012657,...,0.076074,0.212087,0.051605,0.321305,0.183323,0.496513,0.062793,0.024337,0.002175,6.277591e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.063854,0.022820,0.000142,1.011200e+04
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.191390,0.118890,0.003032,3.902900e+04
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.218607,0.134860,0.004191,6.054950e+04
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.256842,0.150920,0.005530,8.927000e+04
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.530754,0.266730,0.043114,2.557965e+06

In [6]:
df.dtypes

id                       object
subj2_war                 int64
subj2_adventure           int64
subj2_comedy              int64
subj2_biography           int64
subj2_romance             int64
subj2_drama               int64
subj2_fantasy             int64
subj2_family              int64
subj2_sciencefiction      int64
subj2_action              int64
subj2_thriller            int64
subj2_western             int64
subj2_horror              int64
subj2_mystery             int64
subj2_crime               int64
subj2_history             int64
subj2_periodicals         int64
subj2_others              int64
speed                   float64
sentiment_avg           float64
sentiment_vol           float64
wordcount               float64
dtype: object

In [7]:
##handling missing value
df.isnull()

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_horror,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,wordcount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18721,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18722,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18723,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18724,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18725,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
18721    False
18722    False
18723    False
18724    False
18725    False
Length: 18726, dtype: bool

In [14]:
df.isnull().sum()

id                         0
subj2_war                  0
subj2_adventure            0
subj2_comedy               0
subj2_biography            0
subj2_romance              0
subj2_drama                0
subj2_fantasy              0
subj2_family               0
subj2_sciencefiction       0
subj2_action               0
subj2_thriller             0
subj2_western              0
subj2_horror               0
subj2_mystery              0
subj2_crime                0
subj2_history              0
subj2_periodicals          0
subj2_others               0
speed                   2688
sentiment_avg           2688
sentiment_vol           2688
wordcount               2688
dtype: int64

In [17]:
df_filled = df.fillna(0)

In [18]:
#filling missing value with the mean of the column 
df['wordcount_fill_na'] = df['wordcount'].fillna(df['wordcount'].mean())
df

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,wordcount,wordcount_fill_na
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0.224141,0.08737,0.002701,50831.0,50831.0
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0.221966,0.13182,0.003394,70142.0,70142.0
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.388199,0.18372,0.001003,13193.0,13193.0
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.301656,0.15722,0.002895,27980.0,27980.0
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0.204838,0.10778,0.003655,65421.0,65421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18721,PG9986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.180942,0.14979,0.006868,85950.0,85950.0
18722,PG9988,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.236141,0.13800,0.002923,47645.0,47645.0
18723,PG9990,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0.212310,0.14208,0.004579,54820.0,54820.0
18724,PG9991,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0.295010,0.11653,0.002811,26606.0,26606.0
18725,PG9993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.179779,0.13360,0.005026,84156.0,84156.0

In [19]:
df.dtypes

id                       object
subj2_war                 int64
subj2_adventure           int64
subj2_comedy              int64
subj2_biography           int64
subj2_romance             int64
subj2_drama               int64
subj2_fantasy             int64
subj2_family              int64
subj2_sciencefiction      int64
subj2_action              int64
subj2_thriller            int64
subj2_western             int64
subj2_horror              int64
subj2_mystery             int64
subj2_crime               int64
subj2_history             int64
subj2_periodicals         int64
subj2_others              int64
speed                   float64
sentiment_avg           float64
sentiment_vol           float64
wordcount               float64
wordcount_fill_na       float64
dtype: object

In [20]:
df = df.rename(columns={'wordcount':'Toatl_Word'})
df.head()

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_mystery,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,Toatl_Word,wordcount_fill_na
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0.224141,0.08737,0.002701,50831.0,50831.0
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0.221966,0.13182,0.003394,70142.0,70142.0
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.388199,0.18372,0.001003,13193.0,13193.0
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0.301656,0.15722,0.002895,27980.0,27980.0
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0.204838,0.10778,0.003655,65421.0,65421.0

In [21]:
#change data type
df['subj2_war_new'] = df['subj2_war'].astype(float)
df.head()

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,Toatl_Word,wordcount_fill_na,subj2_war_new
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.224141,0.08737,0.002701,50831.0,50831.0,0.0
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.221966,0.13182,0.003394,70142.0,70142.0,0.0
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.388199,0.18372,0.001003,13193.0,13193.0,0.0
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.301656,0.15722,0.002895,27980.0,27980.0,0.0
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.204838,0.10778,0.003655,65421.0,65421.0,0.0

In [24]:
df['subj2_war_new'] = df['subj2_war'].apply(lambda x: x+1)
df.head()

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,Toatl_Word,wordcount_fill_na,subj2_war_new
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.224141,0.08737,0.002701,50831.0,50831.0,1
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.221966,0.13182,0.003394,70142.0,70142.0,1
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.388199,0.18372,0.001003,13193.0,13193.0,1
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.301656,0.15722,0.002895,27980.0,27980.0,1
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.204838,0.10778,0.003655,65421.0,65421.0,1

In [25]:
## Data aggregating and grouping
df.head()

,id,subj2_war,subj2_adventure,subj2_comedy,subj2_biography,subj2_romance,subj2_drama,subj2_fantasy,subj2_family,subj2_sciencefiction,...,subj2_crime,subj2_history,subj2_periodicals,subj2_others,speed,sentiment_avg,sentiment_vol,Toatl_Word,wordcount_fill_na,subj2_war_new
0,PG10002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.224141,0.08737,0.002701,50831.0,50831.0,1
1,PG10005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.221966,0.13182,0.003394,70142.0,70142.0,1
2,PG10006,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.388199,0.18372,0.001003,13193.0,13193.0,1
3,PG10007,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.301656,0.15722,0.002895,27980.0,27980.0,1
4,PG10008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0.204838,0.10778,0.003655,65421.0,65421.0,1

In [29]:
groupedd_mean = df.groupby('subj2_war')['Toatl_Word'].mean()
print(groupedd_mean)

subj2_war
0    70825.431288
1    76146.699427
Name: Toatl_Word, dtype: float64

In [30]:
grouped_sum = df.groupby(['id','sentiment_vol'])['Toatl_Word'].sum()
print(grouped_sum)

id       sentiment_vol
PG10002  0.002701         50831.0
PG10005  0.003394         70142.0
PG10006  0.001003         13193.0
PG10007  0.002895         27980.0
PG10008  0.003655         65421.0
                           ...
PG9986   0.006868         85950.0
PG9988   0.002923         47645.0
PG9990   0.004579         54820.0
PG9991   0.002811         26606.0
PG9993   0.005026         84156.0
Name: Toatl_Word, Length: 16038, dtype: float64

In [31]:
##aggregate multiple function 
groupedd_agg = df.groupby('subj2_war')['Toatl_Word'].agg(['mean','sum','count'])
groupedd_agg

                   mean           sum  count
subj2_war
0          70825.431288  1.061673e+09  14990
1          76146.699427  7.980174e+07   1048

In [33]:
#merging and joining the data frame 
#create a simplet data frame 
df1 = pd.DataFrame({'key':['A','B','C'],'value1':[1,2,3]})
df2 = pd.DataFrame({'key':['A','B','D'],'value1':[4,5,6]})

In [34]:
df1

  key  value1
0   A       1
1   B       2
2   C       3

In [35]:
df2

  key  value1
0   A       4
1   B       5
2   D       6

In [36]:
#Merge the data frame on key columns
pd.merge(df1,df2,on="key",how="inner")

  key  value1_x  value1_y
0   A         1         4
1   B         2         5

In [38]:
sp = pd.merge(df1,df2,on="key",how="outer")
print(sp)

  key  value1_x  value1_y
0   A       1.0       4.0
1   B       2.0       5.0
2   C       3.0       NaN
3   D       NaN       6.0

In [42]:
sp.fillna(0)
sp.rename(columns={'key':'Id'})

  Id  value1_x  value1_y
0  A       1.0       4.0
1  B       2.0       5.0
2  C       3.0       NaN
3  D       NaN       6.0

In [54]:
#read csv
ac = pd.read_html("https://archive.ics.uci.edu/dataset/109/wine",header=None)
print(ac)

[          Variable Name     Role         Type  Description  Units  \
0                 class   Target  Categorical          NaN    NaN
1               Alcohol  Feature   Continuous          NaN    NaN
2             Malicacid  Feature   Continuous          NaN    NaN
3                   Ash  Feature   Continuous          NaN    NaN
4     Alcalinity_of_ash  Feature   Continuous          NaN    NaN
5             Magnesium  Feature      Integer          NaN    NaN
6         Total_phenols  Feature   Continuous          NaN    NaN
7            Flavanoids  Feature   Continuous          NaN    NaN
8  Nonflavanoid_phenols  Feature   Continuous          NaN    NaN
9       Proanthocyanins  Feature   Continuous          NaN    NaN

  Missing Values
0             no
1             no
2             no
3             no
4             no
5             no
6             no
7             no
8             no
9             no  ]

In [48]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.2.2-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.4 kB)
Downloading lxml-5.2.2-cp312-cp312-macosx_10_9_universal2.whl (8.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 19.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.2.2